[alias]
  push = push -u
  up = pull --rebase --autostash
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  pull-changes = git pull --rebase origin master
[user]
  name = Hugo Manrique
  email = FILL_EMAIL
  signingkey = FILL_GIT_KEY
[commit]
  gpgsign = true
[push]
  default = current
  followTags = true
[core]
  editor = vim
  autocrlf = true
[git-up "fetch"]
  prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
